{% extends 'base.html' %}
{% load static %}

{% block tag1 %}


{% if request.user.is_superuser %}
    
    {% endif %}
	<a href="addT"><button style="font-family: 'Ubuntu Condensed', sans-serif;font-size:120%"class="btn btn-danger">Hi , {{request.user}}</button></a>
	
     
     
 {% endblock tag1 %}
 {% block title %} 

   {% endblock %}

 {% block css %}
  <style>
        ::-webkit-scrollbar {
            width: 8px;
            height: 3px;
            border-left: 0;
            background: rgba(0, 0, 0, 0.1);
        }

        ::-webkit-scrollbar-thumb {
            background: #78a7ff;
            border-radius: 50px;
        }

        #map {
            height: 100vh;
            width: 75%;

        }

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        main {
            display: flex;

        }

        .destination-list {
            width: 25%;
            overflow: auto;
            height: 100vh;
            background-color: rgb(208, 255, 255);

        }

        .destination-list .heading {
            font-family: 'Ubuntu Condensed', sans-serif;
            background: rgb(33, 211, 255);
            color: rgb(255, 255, 255);

        }

        .destination-list .heading h2 {
            padding: 1rem;
        }

        .leaflet-popup-content-wrapper {
            padding: 10px;
            overflow: hidden;
            color: rgb(34, 67, 255);
            background-color: rgb(145, 255, 246);

        }

        .leaflet-popup-content-wrapper .leaflet-popup-content {
            margin: 0px;
        }
    </style>
 {% endblock %}
<head>
{% block start %}
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/icon" href="{% static 'nu.png' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nu Guiding Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="shortcut icon" type="image/jpg" href="nu.png" />
	{% endblock start %}
    

   

</head>
{% block content %}
<body>


    <main>
        <div class="destination-list">
            <div class="heading">
                <h2 style="text-align: center;">NU Main Locations </h2>
            </div>
            <button onclick="getLocation()" style="text-align:center;font-family: 'Ubuntu Condensed', sans-serif;font-size:120%;width:300px;margin-left: 30px;margin-top:10px"
            class="btn btn-info">Get Your Location</button>
            <p style="text-align:center;font-family: 'Ubuntu Condensed', sans-serif;font-size:120%;width:300px;margin-left: 30px;margin-top:10px"
            class="btn btn-info" id="demo"></p>
            <p style="text-align:center;font-family: 'Ubuntu Condensed', sans-serif;font-size:120%;width:300px;margin-left: 30px;margin-top:10px"
            class="btn btn-info" id="demo1">{{name1}} {{meters}} </p>
            <!-- <button id="fly">Hello</button><br> -->
            <ul class="list">
                
<form action="result1" method="post">
    {% csrf_token %}
    <button class= " btn btn-info" style="text-align:center;font-family: 'Ubuntu Condensed', sans-serif;width:300px;margin-top:4px;margin-left:30px;font-size:150%" disabled="disabled">Select your Destination </button>
    <select  class= " btn btn-info" name="name4" style="font-family: 'Ubuntu Condensed', sans-serif;margin-left:30px;font-size:150%;width:300px; border:2px solid black">
        {% for i in a %}
            <option style="text-align:center;font-family: 'Ubuntu Condensed', sans-serif;width:150px;margin-top:0px" value="{{i.name}}">{{i.name}}/{{i.Des}}</option>
        {%endfor%}
        </select>
        <input style="text-align:center;font-family: 'Ubuntu Condensed', sans-serif;font-size:120%;width:300px;margin-left: 30px;margin-top:10px"
        class="btn btn-danger" type="submit" value="Check the Distance ">
</form>

                {% for i in a %}
                
                <li style="text-align:center;font-family: 'Ubuntu Condensed', sans-serif;font-size:120%;width:300px;margin-left: 30px;margin-top:10px"
                    class="btn btn-{{i.button}} ">
                    <br>
                    <input class="btn " style="text-align:center;font-family: 'Ubuntu Condensed', sans-serif;font-size:120%;width:250px;margin-top:0px" type="text" name="name1" value="{{i.name}}" id="" disabled><br>
                    Coordinates : {{i.Lat}}, {{i.Long}}
                    <br>
                    {{i.Des}}
                </li><br>
                
                  
                  <!-- <button style="text-align:center;font-family: 'Ubuntu Condensed', sans-serif;font-size:120%;width:300px;margin-left: 30px;margin-top:10px"
                id="t-{{i.pk}}" class="btn btn-danger" type="submit">Get the Distance from {{i.name}}</button>  
                
                 -->
                {% endfor %}



            </ul>
        </div>
        <div id="map">
            Right Side
        </div>
    </main>

    <script src=" {% static 'places.js' %}"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- <script src="app.js"></script> -->
    <script>
        // setView(Latitude, Longitude , Zoom Value)
        const map = L.map('map').setView([27.96162, 76.40184], 1);

        // s --> tile are replaced by images when loaded with map
        // z-> zoom level
        // x-> X-coordinate
        // y -> Y-coordinate
        const tileurl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';

        //Attribution 

        const attribution = 'Made by Shubham Meher'

        // First Layer  which is tile 
        const tiles = L.tileLayer(tileurl, { attribution });
        tiles.addTo(map);


        // Second Layer like want to place a circle


        // Add a Rectange Layer

        // You can also add a Polygon
        var uni = [[27.9665, 76.3965], [27.9663, 76.402], [27.9659, 76.4038], [27.9651, 76.4051], [27.9605, 76.4054], [27.9577, 76.4059], [27.9549, 76.406], [27.9519, 76.4027], [27.955, 76.3954], [27.9556, 76.3929], [27.9582, 76.3895]];

        var polygon = L.polygon(uni, { color: 'green', opacity: '0.7', fillColor: 'white' }).addTo(map);



        // create an orange rectangle

        var ug2 = [[27.96033402235028, 76.40401311667569], [27.9606, 76.4045], [27.9597, 76.4049], [27.9579, 76.405], [27.9576, 76.4042]];
        var polygon = L.polygon(ug2, { color: 'red', opacity: '0.4' }).addTo(map);
        const marker = L.marker([27.9594, 76.4042]);
        marker.bindPopup('<h4><b> Niit UG -2</b></h4>');
        marker.addTo(map);




        // For the Amphi Theatre
        var amphi_ug2 = [[27.96029, 76.40389]
            , [27.9603, 76.40381]
            , [27.96031, 76.40374]
            , [27.9604, 76.40374]
            , [27.9604, 76.40387]
        ];

        var polygon = L.polygon(amphi_ug2, { color: 'green', opacity: '0.4' }).addTo(map);
        const marker1 = L.marker([27.96031, 76.40374]);
        marker1.bindPopup('<h4> <b>Niit Amphi Theatre UG -2</b> </h4>');
        marker1.addTo(map);

        // For the Jaal Pelu
        L.circle([27.96041, 76.4038], { color: 'green', opacity: '0.4', radius: '7' }).addTo(map);
        L.circle([27.96027, 76.40387], { radius: 2 }).addTo(map);
        const marker2 = L.marker([27.96027, 76.40387], { color: 'red' });
        marker2.bindPopup('<h4><b>Jaal Pelu</b> </h4>');
        marker2.addTo(map);

        // PLoyline UG-2 to UG-1 
        var latlngs1 = [
            [27.96034, 76.40386],
            [27.9604, 76.4038],
            [27.96067, 76.40373],
            [27.96069, 76.4035],
            [27.96129, 76.40336],
            [27.96173, 76.40317]
        ];

        var polyline = L.polyline(latlngs1, { color: '#CFD8DC', innerWidth: '10', weight: 10 }).addTo(map);

        // zoom the map to the polyline
        map.fitBounds(polyline.getBounds());


        // Nescafe

        // var amphi_ug2 = [[27.96029,76.40389]
        //     ,[27.9603,76.40381]
        //     ,[27.96031,76.40374]
        //     ,[27.9604,76.40374]
        //     ,[27.9604,76.40387]
        //     ];

        // var polygon = L.polygon(amphi_ug2, {color: 'green',opacity:'0.4'}).addTo(map);
        // const marker1 = L.marker([27.96031,76.40374]);
        // marker1.bindPopup('<h2> Niit Amphi Theatre UG -2</h2>');
        // marker1.addTo(map);
        var bounds = [[27.96079, 76.40310], [27.96061, 76.40330]];
        L.rectangle(bounds, { color: "red", weight: 1 }).addTo(map);
        map.fitBounds(bounds);
        const marker5 = L.marker([27.96071, 76.40320]);
        marker5.bindPopup('<h4> <b>Niit Nescafe</b></h4>');
        marker5.addTo(map);

        // Four Lane in Olive street 
        L.circle([27.96069, 76.4035], { radius: 2 }).addTo(map);

        // BasketBall Court 
        var bounds1 = [[27.96088, 76.40306], [27.9606, 76.4028]];
        //L.circle([27.96084,76.40323], {radius: 4}).addTo(map);
        L.rectangle(bounds1, { color: "yellow", weight: 1 }).addTo(map);
        const marker6 = L.marker([27.9607, 76.4029]);
        marker6.bindPopup('<h4> <b>BasketBall Court</b></h4>');
        marker6.addTo(map);

        // zoom the map to the rectangle bounds
        map.fitBounds(bounds1);

        // UG-2 to mess
        var latlngs2 = [

            [27.9614, 76.40264],
            [27.96135, 76.40277],
            [27.96132, 76.40276],
            [27.96104, 76.40285],
            [27.96103, 76.40285],
            [27.96069, 76.4035],



        ];

        var polyline = L.polyline(latlngs2, { color: '#CFD8DC', innerWidth: '10', weight: 10 }).addTo(map);

        // zoom the map to the polyline
        map.fitBounds(polyline.getBounds());

        // ATm
        //L.circle([27.96104,76.40285], {radius: 4,color:'blue'}).addTo(map);
        var bounds1 = [[27.96106, 76.40288], [27.96121, 76.40306]];
        L.rectangle(bounds1, { color: "blue", weight: 1 }).addTo(map);
        const marker7 = L.marker([27.96113, 76.4030]);
        marker7.bindPopup('<h4><b>ICICI ATM Niit</b></h4>');
        marker7.addTo(map);

        // Gym
        //L.circle([27.96132,76.40276], {radius: 3,color:'white'}).addTo(map);
        var bounds1 = [[27.96132, 76.40245], [27.9611, 76.4027]];
        L.rectangle(bounds1, { color: "green", weight: 1 }).addTo(map);
        const marker8 = L.marker([27.96121, 76.40258]);
        marker8.bindPopup('<h4> <b>Main Gym</b> </h4>');
        marker8.addTo(map);

        // Tuck shop
        L.circle([27.96135, 76.40277], { radius: 3 }).addTo(map);
        const marker81 = L.marker([27.96135, 76.40277]);
        marker81.bindPopup('<h4> <b>Tuck Shop</b> </h4>');
        marker81.addTo(map);

        // Hod 
        L.circle([27.9614, 76.40264], { radius: 3 }).addTo(map);
        const marker86 = L.marker([27.9614, 76.40264]);
        marker86.bindPopup('<h4> <b>HOD</b> </h4>');
        marker86.addTo(map);

        // Three way in volley ball court 
        L.circle([27.96295, 76.40284], { radius: 4, color: 'red' }).addTo(map);

        // Three way to UG1
        var latlngs3 = [

            [27.96288, 76.40284],
            [27.96247, 76.40284],
            [27.96227, 76.40294],
            [27.96175, 76.40315],
            [27.96173, 76.40317]
        ];

        var polyline = L.polyline(latlngs3, { color: '#CFD8DC', innerWidth: '10', weight: 10 }).addTo(map);


        // Laundary 
        var bounds = [[27.96169, 76.40317], [27.9615, 76.40306]];
        const marker9 = L.marker([27.9616, 76.40311]);
        marker9.bindPopup('<h4> <b>Laundary</b></h4>');
        marker9.addTo(map)

        // create an orange rectangle
        L.rectangle(bounds, { color: "#ff7800", weight: 1 }).addTo(map);

        var under_const = [
            [27.960, 76.403],
            [27.9604, 76.4006],
            [27.9572, 76.4004],
            [27.956, 76.40207],
            [27.9564, 76.40234],
            [27.95592, 76.40291],
            [27.95608, 76.40336]


        ];

        var polygon = L.polygon(under_const, { color: 'green', opacity: '0.4' }).addTo(map);
        const marker10 = L.marker([27.96031, 76.40374]);
        marker10.bindPopup('<h4> <b>Niit Amphi Theatre UG -2</b></h4>');
        marker10.addTo(map);


        L.circle([27.9661, 76.4009], { radius: 2 }).addTo(map);
        const marker11 = L.marker([27.9661, 76.4009]);
        marker11.bindPopup('<h4> <b>Main Gate Niit UNiversity</b></h4>');
        marker11.addTo(map);


        // For Ac1 
        var bounds = [[27.961, 76.40185], [27.9614, 76.40244]];
        const marker12 = L.marker([27.9612, 76.40220]);
        marker12.bindPopup('<h4><b>Academic Block AC-1</b> </h4>');
        marker12.addTo(map)
        L.rectangle(bounds, { color: "#ff7800", weight: 1 }).addTo(map);

        // For AC2
        var bounds = [[27.96142, 76.40244], [27.96189, 76.40185]];
        const marker13 = L.marker([27.96160, 76.40220]);
        marker13.bindPopup('<h4> <b>Academic Block AC-1</b></h4>');
        marker13.addTo(map)
        L.rectangle(bounds, { color: "green", weight: 1 }).addTo(map);

        // Main Reception
        const marker14 = L.marker([27.96139, 76.40185]);
        marker14.bindPopup('<h4><b>Main Reception</b> </h4>');
        marker14.addTo(map)
        L.rectangle(bounds, { color: "green", weight: 1 }).addTo(map);


        var latlngs3 = [

            [27.96139, 76.40182],
            [27.96134, 76.40167],
            [27.96169, 76.40157],
            [27.96183, 76.40153],
            [27.96219, 76.40164],
            [27.96245, 76.40179],
            [27.96261, 76.4020],
            [27.96263, 76.40203],

            [27.96291, 76.40279],
            [27.96318, 76.40361],
            [27.96361, 76.40395],
            [27.96538, 76.40448],


        ];

        var polyline = L.polyline(latlngs3, { color: '#CFD8DC', innerWidth: '10', weight: 10 }).addTo(map);


        // footBall Court 
        var latlngs3 = [

            [27.96139, 76.40182],
            [27.96134, 76.40167],
            [27.96169, 76.40157],
            [27.96183, 76.40153],
            [27.96219, 76.40164],
            [27.96245, 76.40179],
            [27.96261, 76.4020],
            [27.96261, 76.40201]
        ];

        var polyline = L.polyline(latlngs3, { color: '#CFD8DC', innerWidth: '10', weight: 10 }).addTo(map);


        // North East point
        const marker15 = L.marker([27.96538, 76.4045]);
        marker15.bindPopup('<h4> <b>North East Point</b></h4>');
        marker15.addTo(map)
        L.rectangle(bounds, { color: "green", weight: 1 }).addTo(map);

        // for Ug1
        var ug1 = [[27.96185, 76.40317], [27.962, 76.4041], [27.96089, 76.40460], [27.96069, 76.40389], [27.96074, 76.40355], [27.96127, 76.40344]];
        var polygon = L.polygon(ug1, { color: 'red', opacity: '0.4' }).addTo(map);
        const marker16 = L.marker([27.96138, 76.40344]);
        marker16.bindPopup('<h4> <b>Niit UG -1</b></h4>');
        marker16.addTo(map);
        // Current Location 
        const marker78 = L.marker([27.9596, 76.4045]);
        marker78.bindPopup('<h4> <b>Your Location</b></h4>');
        marker78.addTo(map);



        // Fly
        // document.getElementById("fly").addEventListener("click", function () {
        //    map.flyTo([27.96138, 76.40344], 20)
        //});
         

        // Get your location Coordinates
        var x = document.getElementById("demo");
        var x1 = document.getElementById("demo1");
        var x3 = document.getElementById("demo1");

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            x.innerHTML = "Your Coordinates : "+ "Latitude: " + position.coords.latitude +
                "<br>Longitude: " + position.coords.longitude;
                getDistanceFromLatLonInKm(position.coords.latitude,position.coords.longitude,27.96027, 76.40387);
        }
        
       

    </script>
</body>

{% endblock content %}


</html>